<!DOCTYPE html>
<html>
<head>
  <title>Scheme</title>
  <%= favicon_link_tag 'scheme-favicon.png', :type => 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="scheme-body" className="group scheme-body">

<%= yield %>

</body>
</html>
